/**
 * Configures Babel's transpiling settings.
 */
{
  "presets": ["react", "es2015", "stage-0"],
  "plugins":["babel-plugin-transform-decorators-legacy", "babel-plugin-transform-react-display-name"]/*,
  "env": {
    // only enable it when process.env.NODE_ENV is 'development' or undefined
    "development": {
      "plugins": [["react-transform", {
        "transforms": [{
          "transform": "react-transform-hmr",
          // if you use React Native, pass "react-native" instead:
          "imports": ["react"],
          // this is important for Webpack HMR:
          "locals": ["module"]
        }]
      }]
      ]
    }
  }*/
}